---
layout: archive
title: "Honors and Achivements"
permalink: /portfolio/
author_profile: true
---

**Early Career Travel Award** - International Society on Thrombosis and Haemostasis (ISTH) 2023
Oral presentation: “ Structural characterization of coagulation factor VIII”

**Rudolf Marx Stipendium**  Visiting research scholar, Institut de Biologie Structurale,  67th annual meeting of the GTH
2023
“Analyzing the different conformational states of full-length coagulation Factor VIII by a combination of computational
modeling, atomic force microscopy (AFM) and AFM assembly pipeline”

**Best poster award** - 53rd Hamburg Hemophilia Symposium- 2022- Hamburg
Poster presentation: “Low-resolution cryo-EM combined with alpha fold model of Full length coagulation Factor FVIII
sheds light on the spatial orientation of B domain”

**Reisestipendium** - Deutschen Gesellschaft für Transfusionsmedizin und Immunhämatologie (DGTI) 2022- Mannheim
Oral presentation: “Structural investigations into coagulation factor VIII full-length and B domain”




{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

