---
layout: archive
title: "Honors and Achivements"
permalink: /honors/
author_profile: true
---

<p><li><strong>Early Career Travel Award</strong> - International Society on Thrombosis and Haemostasis (ISTH) 2023<br>
  Oral presentation: “Structural characterization of coagulation factor VIII”</p></li>
  
  <p><li><strong>Rudolf Marx Stipendium</strong> - Visiting research scholar, Institut de Biologie Structurale, 67th annual meeting of the GTH 2023<br>
  “Analyzing the different conformational states of full-length coagulation Factor VIII by a combination of computational
  modeling, atomic force microscopy (AFM) and AFM assembly pipeline”</p></li>
  
  <p><li><strong>Best poster award</strong> - 53rd Hamburg Hemophilia Symposium - 2022 - Hamburg<br>
  Poster presentation: “Low-resolution cryo-EM combined with alpha fold model of Full length coagulation Factor FVIII
  sheds light on the spatial orientation of B domain”</p></li>
  
  <p><li><strong>Reisestipendium</strong> - Deutschen Gesellschaft für Transfusionsmedizin und Immunhämatologie (DGTI) 2022 - Mannheim<br>
  Oral presentation: “Structural investigations into coagulation factor VIII full-length and B domain”</p></li>
  




{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

