---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---
<h2>RESEARCH ARTICLES & REVIEW PAPERS</h2>

<ul>
    <li>Samhitha Urs Ramaraje Urs, Jean-Luc Pellequer, Jean-Marie Teulon, Boxue Ma, Deniz Ugular, Sneha Singh, Jens Müller, Simone Gasper, Anna Pepanian, Diana Imhoff, Johannes Oldenburg, Arijit Biswas 
    <strong>“Decoding the B-Domain: Exploring Structural and Functional Dynamics in Full-Length Factor VIII”</strong> – Manuscript under preparation.</li>

    <li>Sneha Singh, Gregor Hagelueken, Deniz Ugurlar, Samhitha Urs Ramaraje Urs, Amit Sharma, Manoranjan Mahapatra, Friedel Drepper, Diana Imhof, Pitter F. Huesgen, Johannes Oldenburg, Matthias Geyer, Arijit Biswas 
    <strong>“Cryo-EM structure of the human native plasma coagulation Factor XIII complex”</strong> Blood – Manuscript under minor revisions. PDBIDs: 8MCT, 8CMU (HPUB) IF: 21.0 (2024)</li>

    <li>Behnaz Pezeshkpoor PhD, Nadja Sereda M.Sc, Janine Becker-Gotot PhD, Ann-Cristin Berkemeier, Isabell Matuschek, Jens Müller PhD, Samhitha Urs Ramaraje Urs M.Sc., Sneha Singh PhD, Natascha Marquardt MD, Johannes Oldenburg MD 
    <strong>“Comprehensive analysis of Neutralizing Anti-Emicizumab Antibodies on Drug Efficacy in Acquired Hemophilia A”</strong> Journal of Thrombosis and Haemostasis (JTH) – Manuscript accepted. IF: 5.5 (2024)</li>

    <li>Haroon Javed, Sneha Singh, Samhitha Urs Ramaraje Urs, Johannes Oldenburg, Arijit Biswas 
    <strong>“Genetic landscape in coagulation factor XIII associated defects – Advances in coagulation and beyond”</strong> Blood Reviews - November 2022. DOI: 10.1016/j.blre.2022.101032 IF: 6.9 (2024)</li>
</ul>

<h2>SELECTED CONFERENCE PAPER</h2>

<ul>
    <li>S.U. Urs Ramaraje, D. Ugurlar, B. Ma, J.-L. Pellequer, J.-M. Teulon, D. Fenel, H. Javed, M. M. Islam, S. Singh, J. Oldenburg, A. Biswas 
    <strong>“Low resolution cryo-EM maps and AFM analysis combined with alpha fold model of full-length coagulation Factor VIII sheds light on the conformational positioning of the Factor VIII B domain”</strong> - GTH Congress 2023 – 67th Annual Meeting of the Society of Thrombosis and Haemostasis Research – The patient as a benchmark. Hamostaseologie 2023; 43(S 01) DOI: 10.1055/s-0042-1760512</li>

    <li>Ramaraje Urs, Sneha Singh, Haroon Javed, Guy Schoehn, Jean-Luc Pellequer, Jean-Marie Teulon, Daphne Fennel, Johannes Oldenburg, Arijit Biswas 
    <strong>“Structural Characterization of Factor VIII B Domain to Generate an all atom Full-Length Structure of the Coagulation Factor VIII Protein”</strong> - 52nd Hamburg Hemophilia Symposium. Hamostaseologie 2022; 42(S 01) DOI: 10.1055/s-0042-1758498</li>
</ul>


{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="https://scholar.google.com/citations?hl=en&user=LPDq_mEAAAAJ">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



